{%include 'navbar.html'%}
{%load static%}
<link rel="stylesheet" href="{%static 'css/bmin.css'%}">

<style>
     
    .cart{
        width: 800px;
        padding-left: 20px;
        margin-top: 20px;
    }

    .total{
        width: 25%;
        /*background-color: blueviolet;*/
        position: fixed;
        top: 150px;
        right: 20px;
        /* box-sizing: border-box; */
    }
    .imag{
        display: inline-block;
    }

    
    .remo{
        width: 70px;
        height: 30px;
        background-color: #ff0000;
        border: none;
        box-shadow: 3px 3px 10px  black;
    }

    a{
        text-decoration: none;
        color: blanchedalmond;
    }
</style>

<h1>Cart List</h1>


<div class="addcart">
    <div class="cart">
        
        <table class="table">
            <tr>
                <td>Image</td>
                <td>Product Name</td>
                <td>Product Price</td>
                <td>Product Quantity</td>
                <!--<td>User</td>-->
                <td>Sub-Total</td>
                <td>Action</td>
            </tr>
            {%for i in cl%}
            <tr>
                <td><img src="{{i.product.img}}" alt="Image not uploaded" width="100px" height="100px"></td>
                <td>{{i.product.p_name}}</td>
                <td>{{i.product.p_price}}</td>
                <!--<td><input type="number" name="qty" value="1" min="1" onchange="updateSubtotal(this)" ></td> -->
                <td class="d-flex pb-5 gap-3">
                    <form method="post" action="{%url 'final_app:update_cart' i.id 'decrease'%}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">-</button>
                    </form>
                    {{i.quantity}}
                    <form method="post" action="{%url 'final_app:update_cart' i.id 'increase'%}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success btn-sm">+</button>
                    </form>
                </td>
                <!--<td>{{i.user.username}}</td>-->
                <td><input type="text" class="subtotal" value="{%widthratio i.product.p_price 1 i.quantity%}" readonly></td>  
                <!--<td><a href="remove/{{i.id}}" class="remo">Remove</a></td>-->
                <td><button type="button" class="remo"><a href="remove/{{i.id}}">Remove</a></button></td>
            </tr>
            {%endfor%}
        </table>
    </div>
    

    <div class="total">
        <h5 id="total">Final Total:Rs. <span id="total-value">0.00/-</span></h5>
        <!--<h5 id="gst">GST (18%): Rs. <span id="gst-value">0.00/-</span></h5>
        <h5 id="invoice-total">Invoice Total: Rs. <span id="invoice-total-value">0.00/-</span></h5>-->
    </div>

</div>

<script src="{%static 'js/bmin.js'%}"></script>
<script src="{%static 'js/p.js'%}"></script>
<script src="{%static 'js/static.js'%}"></script>

<form action="/success" method="POST">
    {% csrf_token %}
    <script
       src="https://checkout.razorpay.com/v1/checkout.js"
        data-key="rzp_test_jTiwvtKFGeVlN8" // Enter the Test API Key ID generated from Dashboard → Settings → API Keys
        data-amount="{{final_price}}" // Amount is in currency subunits. Hence, 29935 refers to 29935 paise or ₹299.35.
        data-currency="INR"// You can accept international payments by changing the currency code. Contact our Support Team to enable International for your account
        data-order_id="{{razorpay_order_id}}"// Replace with the order_id generated by you in the backend.
        data-buttontext="Pay with Razorpay"
        data-name="Gift Shop"
        data-description="A Wild Sheep Chase is the third novel by Japanese author Haruki Murakami"
        data-image="https://example.com/your_logo.jpg"
        data-prefill.name="Gaurav Kumar"
        data-prefill.email="gaurav.kumar@example.com"
        data-theme.color="#F37254"
    ></script>
    <input type="hidden" custom="Hidden Element" name="hidden"/>
    </form>





<!--
    <div class="imag"><img src="{{i.product.img}}" alt="Image not uploaded" width="200px" height="200px"></div>
    <div class="info">
        <h4>{{i.product.p_name}}</h4>
        <h5>Rs.{{i.product.p_price}}</h5>
        <p><input type="number" name="qty" value="1" min="1" onchange="updateSubtotal(this)" ></p>
        <input type="text" class="subtotal" value="{{i.product.p_price}}">
        <button type="submit" class="remo"><a href="remove/{{i.id}}">Remove</a></button>
    </div>
</div>-->