{%extends 'category_list.html'%}
{%load static%}
{%block body%}
<link rel="stylesheet" href="{%static 'css/bmin.css'%}">
<div class="album py-5 bg-light">
  
    <div class="container">
    
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {%for i in product%}
        
        <div class="col">
          <div class="card shadow-sm">
            
            <div class="card-body" title="{{i.p_name}}">
              
                <img class="product_img" src="{{ i.img.url }}" width="100%" height="270px" alt="{{ i.p_name }}">
                <p class="card-text">{{i.p_name}}</p>
              <p class="card-text">{{i.p_price}}</p>
              <p class="card-text">{{i.p_description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" ><a href="addtocart/{{i.id}}">Addtocart</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        
        {%endfor%}
        
        </div>
      
    </div>
  </div>
<script src="{%static 'js/bmin.js'%}"></script>
<script src="{%static 'js/p.js'%}"></script>
{%endblock%}