{%load static%}
<link rel="stylesheet" href="{%static 'css/style.css'%}">

<nav class="navbar">
    <div class="container">
        <div class="collapse">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a href="register">Registration</a>
                </li>
                <li class="nav-item">
                    <a href="login">Login</a>
                </li>
                <li class="nav-item">
                    <a href="logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a href="product">Product</a>
                </li>
                <li class="nav-item">
                    <form action="">
                        <input type="search" placeholder="Search">
                        <button type="submit">Search</button>
                    </form>
                </li>
            </ul>
            
        </div>
    </div>
</nav>

