{%include 'navbar.html'%}
{%load static%}
<link rel="stylesheet" href="{%static 'css/bmin.css'%}">

<style>
    .hd{
        text-align: center;
        width: 282px;
        height: 68px;
    }
    .reg{
        width: 362px;
        height: 464px;
        background-color: #ffffff;
        box-shadow: 0px 0px 10px  black;
        padding-top: 30px;
        padding-left: 50px;
        margin-left: 500px;
        margin-top: 30px;
    }

    .inpt{
        width: 262px;
        height: 40px;
    }
    .button{
        width: 150px;
        height: 30px;
        background-color: #e24646;
        color: #ffff;
        border: none;
        font-family: "PublicSans Regular", Sans-Serif;
        font-weight: 700;
        
    }

    .alert-primary{
        width: 262px;
        height: 40px;
        border-radius: 5px;
        align-content: center;
        background-color: #cfe2ff;
        color: #222f42;
    }

</style>



<div class="reg">
    <h1 class="hd">Sign up</h1>
    <form action="" method="POST">
        {%csrf_token%}
        {% if messages %}
        {{ message.tags }}
        <div class="alert-primary" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        <table>
            <tr>
                <td>Username:</td>
            </tr>
            <tr>
                <td><input type="text" name="username" placeholder="Enter username" class="inpt" required></td>
            </tr>
            <tr>
                <td>Password:</td>
            </tr>
            <tr>
                <td><input type="password" name="password" placeholder="Enter Password" class="inpt" required></td>
            </tr>
            <tr>
                <td>Confirm Password:</td>
            </tr>
            <tr>
                <td><input type="password" name="c_password" placeholder="Enter Password" class="inpt" required></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="submit" class="button"></td>
                
            </tr>
        </table>
    </form>
    <p>Already have account <a href="login">SIGN IN</a></p>
</div>


<script src="{%static 'js/bmin.js'%}"></script>
<script src="{%static 'js/p.js'%}"></script>




<!--<form action="" method="POST">
    {%csrf_token%}
    {% if messages %}
    {{ message.tags }}
    <div class="alert alert-primary" role="alert">
      {% for message in messages %}
      {{ message }}
      {% endfor %}
    </div>
  
    {% endif %}

    <table class="table">
        {{form.as_table}}
        <tr>
            <td><input type="submit" value="save" class="button"></td>
            <td><input type="reset" value="reset" class="button"></td>
        </tr>
        <tr>
          <td colspan="2"><p>Already have account <a href="login">SIGN IN</a></p></td>
        </tr>
    </table>
</form>-->