{%include 'navbar.html'%}

<style>
    .text-center{
        width: 500px;
        height: 300px;
        margin-top: 150px;
        margin-left: 500px;
        box-shadow: 0px 0px 10px  black;
    }
    img{
        margin-left: 150px;
        margin-top: 30px;
    }
    h2{
        margin-left: 40px;
    }
    
</style>

<div class="text-center">
    <img src="https://www.svgrepo.com/show/157817/success.svg" alt="" class='img-fluid' style="height: 150px;">
    <h2>Thanks Your Payment has been received</h2>

</div>